.keyword-highlight-null {
  border: none;
}

.keyword-highlight {
  color: #d1cce0;
  line-height: 2;
  padding: 5px;
  border-radius: 10px;
  margin-right: 10px;
}

.text-highlight {
  padding: 5px;
  font-weight: bold;
}

.generate-button {
  padding: 1px 3px 3px 3px;
  color: #f4f2f7;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-top: 15px;
  transition: all 250ms ease-in-out;
}
