footer {
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  justify-content: center;
  background-color: #7a2cbfab;
  color: #e0aaffd2;
  font-size: 12px;
}

.support {
  margin-left: 20px;
}

img {
  max-width: 25px;
}

a {
  color: #e0aaff;
}

a:hover {
  color: #e0aaff;
  text-decoration: none;
}
