.footer {
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  justify-content: center;
  background-color: #512c78;
  color: #bbafdd;
  font-size: 12px;
}

.support {
  margin-left: 20px;
}

img {
  max-width: 25px;
}

a {
  color: #f4f2f7;
}

a:hover {
  color: #bbafdd;
  text-decoration: none;
}
